footer
  margin-top: 50px
  padding: 30px 0
  background: #343a4a
  .container
    display: flex
    justify-content: space-between
    @media (max-width: 600px)
      flex-direction: column
      align-items: center
    .logo
      img
        width: 50px
    .footer-categories
      display: flex
      @media (max-width: 600px)
        flex-direction: column
      .footer-category
        text-align: center
        margin-left: 50px
        @media (max-width: 600px)
          margin-left: 0
          margin-top: 30px
        .footer-title
          font-size: 16px
          font-weight: 600
          margin-bottom: 5px
          a
            font-size: 14px
            color: #e1e7ed
