.App.dark  
  background-color: #0d1117

  header
    background-color: #161b22
    a:hover
      color: #d3e2f1 !important
    .dropdown-menu
      background-color: #161b22
      border-color: rgba(0, 0, 0, 0.3)

  footer
    background-color: #161b22
    color: #ccdae7
    a
      color: #9da9b5

  .news_block
    .content_news
      background-color: #161b22
      .title_news,
      .desc_news
        color: #c9d1d9
      .news_footer
        .data
          background-color: #0d1117
          color: #c9d1d9
    .layer_1
      background-color: #212c3c
    .layer_2
      background-color: #303c50
  
  .online_block
    background-color: #161b22
    .title, .name_server
      color: #ccdae7
    .progress_bar
      background-color: #0d1117
  
  .stream_block
    background-color: #161b22
    .title, .name_server
      color: #ccdae7
    .no_stream
      background-color: #0d1117
      color: #353c42

  .socialBlock
    background-color: #161b22

  .modal-content
    background-color: #161b22
    color: #ccdae7
    .close
      color: #ccdae7
    .modal-header
      border-bottom: 1px solid #0d1117

  .profile-dropdown
    background: #161b22 !important
    .profile-info-balanceTitle,
    .profile-info-link,
    .btn-logout
        color: #ccdae7 !important

  .content-lk
    background: #161b22
    .block
      .title
        color: #ccdae7

  input, select
    background-color: #0d1117 !important
    border-color: #0d1117 !important
    color: #ccdae7 !important
    &:focus
      background-color: #0d1117 !important
      color: #ccdae7 !important

  .content-lk
    input, select
      background-color: #161b22 !important
      border-color: #161b22 !important
      color: #ccdae7 !important
      &:focus
        background-color: #161b22 !important
        color: #ccdae7 !important

  .play
    background: #161b22
    color: #ccdae7
    h2
      color: #ccdae7

  .block
    background: #0d1117

  .rules
    background: #161b22
    h2
      color: #ccdae7

  .shop
    background: #161b22
    color: #ccdae7
    h2
      color: #ccdae7
    .shop-tabs
      .nav-item.active
        background: #0d1117
        border-color: #0d1117
        color: #ccdae7
      .nav-tabs
        border-color: #0d1117
